/* html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
} */

/* .grid-container {
  display: grid;
} */

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial;
}

body {
  background-color: steelblue;
}

.container {
  position: relative;
  display: flex;
}

.item {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 1vh;
  padding: 1vh;
  /* width: 46%;
  height: 46%; */
  border-radius: 5px;
  background-color: white;
}

#map {
  width: 100%;
  height: 100%;
}

#groupedBarChart {
  display: inline-block;
  position: relative;
  padding-bottom: 8%;
  vertical-align: top;
  overflow: hidden;
  width: 69%;
  height: 70%;
}

#groupedBarLegend {
  display: inline-block;
  position: relative;
  /* padding-bottom: 40%; */
  vertical-align: top;
  overflow: hidden;
  width: 30%;
  height: 100%;
}

#stackedBarChart {
  display: inline-block;
  position: relative;
  /* padding-bottom: 40%; */
  vertical-align: top;
  overflow: hidden;
  width: 70%;
  height: 100%;
}

#stackedBarLegend {
  display: inline-block;
  position: relative;
  /* padding-bottom: 40%; */
  vertical-align: top;
  overflow: hidden;
  width: 30%;
  height: 100%;
}

#lineChart {
  display: inline-block;
  position: relative;
  padding-bottom: 40%;
  vertical-align: top;
  overflow: hidden;
  width: 70%;
  height: 100%;
}

#lineLegend {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  width: 30%;
  height: 100%;
}

input[type="range"] {
  width: 100vh;
}

div.tooltip {
  position: absolute;
  padding: 8px;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}