html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: steelblue;
}

.container {
  position: relative;
  display: flex;
}

#firstRowContainer {
  height: 57%;
}

.column-container {
  width: 50%;
  flex-flow: column;
}

#thirdRowContainer {
  height: 36%;
}

#mapItem {
  height: 100%;
}

.thin {
  height: 7%;
}

#groupedBarItem {
  height: 93%;
  display: block;
}

#secondRowItem {
  display: block;
}

#stackedBarItem {
  width: 50%;
}

#lineItem {
  width: 50%;
}

#groupedBarTitle {
  font-size: 1vw;
  font-weight: bold;
  margin-left: 1.5vh;
  height: 8%
}

#secondRowP {
  text-align: center;
  font-size: 1.2vw;
  margin-top: 0.1vh;
  font-weight: bold;
}

output {
  font-weight: bold;
}

.outputP {
  font-size: 0.9vw
}

#rangeDiv {
  width: 96%;
  height: 12%;
}

range {
  width: 100%;
}

#year_input {
  width: 80%;
}

.item {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 1vh;
  padding: 1vh;
  border-radius: 5px;
  background-color: white;
}

#map {
  width: 100%;
  height: 88%;
}

#groupedBarChart {
  display: inline-block;
  position: relative;
  width: 69%;
  height: 100%;
}

#groupedBarLegend {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 28%;
  height: 100%;
}

#stackedBarChart {
  display: inline-block;
  position: relative;
  width: 65%;
  height: 100%;
}

#stackedBarLegend {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 25%;
  height: 100%;
}

#lineChart {
  display: inline-block;
  position: relative;
  width: 70%;
  height: 100%;
}

#lineLegend {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 30%;
  height: 100%;
}

div.tooltip {
  position: absolute;
  padding: 8px;
  font-size: 0.8vw;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.4vw 0.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.72vw;
  border-radius: 5px;
}

button:hover {
  background-color: #006CBA;
  cursor: pointer;
}